:root{
   --color: #21bea4;
   --color2: #10a58c;
}

* {
   box-sizing: border-box; 
}
body {
    font-family: 'Raleway', sans-serif;
}

.btn {
    background: var(--color);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}
.section-title{
    font-size: 22px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-title::after{
    content: '';
    width: 320px;
    height: 8px;
    background: var(--color);
    display: block;
    margin-top: 3px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }

.container {
    max-width: 1050px;
    margin: 0 auto
}

/* stylowanie Headera  */






