
/* Cennik */

.price-list-section {
    background: #f1f1f1;
    padding: 40px 0px;
}

.price-list-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.price-list-el{
    width: 300px;
    background-color: #f9f9f9;
    border: 2px solid #d6d5d5;
    position: relative;
}

.price-list-el-title {
    color: var(--color);
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    margin-top: 10px;
}

.price-list-el-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 30px auto 0;
    border: 1px solid #d6d5d5;
    font-size: 13px;
    background-color: #fff;
    border-radius:50%; 
    color: #c2c2c2;
}

.price-list-el-price p {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.price-list-el-package {
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}

.price-list-el-package p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 50px;  
    background-color: #f1f1f1;
    color: #787878;
}

.price-list-el-package p:nth-of-type(odd){
    background-color: #e4e4e4;
}

.price-list-el-package p:last-of-type{
    margin-bottom: 100px;
}

.price-list-el-btn {
    display: block;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%);
    width: 150px;
    height: 40px;
    margin: 20px auto ;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid var(--color);
    border-radius: 5px;
    background-color: var(--color);
}

.price-list-decorator {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #c2c2c2;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-list-decorator-el {
    width: 25px;
    height: 25px;
    background: #c2c2c2;
    border-radius: 50%;

}